{{ define "views/index" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WebSocket Client</title>
    <script src="https://d3js.org/d3.v4.js"></script>
</head>

<body>
    <h1>Token Challenges Sent/Used</h1>
    <div id="container"></div>
    <div style="color: red" id="errors"></div>
    <div id="messages"></div>
    <script>
        // ### START CHART ###

        // set the dimensions and margins of the graph
        var width = 450
        height = 450
        margin = 40

        // The radius of the pieplot is half the width or half the height (smallest one). I subtract a bit of margin.
        var radius = Math.min(width, height) / 2 - margin

        // append the svg object to the div called 'my_dataviz'
        var svg = d3.select("#container")
            .append("svg")
            .attr("width", width)
            .attr("height", height)
            .append("g")
            .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

        // create 2 data_set
        var log_data = {requested: 0, used: 0}

        // set the color scale
        var color = d3.scaleOrdinal()
            .domain(["requested", "used"])
            .range(["#7a9fd1", "#6ad65a"])

        // A function that create / update the plot for a given variable:
        function update(data) {

            // Compute the position of each group on the pie:
            var pie = d3.pie()
                .value(function(d) {return d.value; })
                .sort(function(a, b) { return d3.ascending(a.key, b.key);} ) // This make sure that group order remains the same in the pie chart
            var data_ready = pie(d3.entries(data))

            // map to data
            var u = svg.selectAll("path")
                .data(data_ready)

            // Build the pie chart: Basically, each part of the pie is a path that we build using the arc function.
            u
                .enter()
                .append('path')
                .merge(u)
                .transition()
                .duration(1000)
                .attr('d', d3.arc()
                    .innerRadius(0)
                    .outerRadius(radius)
                )
                .attr('fill', function(d){ return(color(d.data.key)) })
                .attr("stroke", "white")
                .style("stroke-width", "2px")
                .style("opacity", 1)

            // remove the group that is not present anymore
            u
                .exit()
                .remove()

        }

        // Initialize the plot with the first dataset
        update(log_data)
        //
        // setInterval(()=> {
        //     log_data.requested += 1;
        //     update(log_data)
        // },1000)

        // ### END CHART ###

        var ws = new WebSocket("ws://{{.Host}}:{{.Port}}/ws");

        ws.onopen = function (event) {
            var errors = document.getElementById('errors');
            console.log("WebSocket is open now.");
        };

        let allowed_to_update = true;

        function limit(fn, x) {
            if (allowed_to_update) {
                allowed_to_update = false;
                let i = setInterval(() => {
                    clearInterval(i)
                    allowed_to_update = true;
                }, x);
                fn()
            }
        }

        ws.onmessage = function (event) {
            let event_data = JSON.parse(event.data)

            if (event_data.Category == "CreateAuthenticationChallenge"){
                log_data.requested += 1

                // TODO: We should probably rate limit this, or find a way to bulk send the data to the front end
                // if we have tens of thousands of logs this would probably be an issue
                update(log_data)
            }

            // var messages = document.getElementById('messages');
            // var message = document.createElement('div');
            // message.textContent = event.data;
            // messages.appendChild(message);
        };

        ws.onclose = function (event) {
            console.log("WebSocket is closed now.");
        };

        ws.onerror = function (error) {
            var errors = document.getElementById('errors');
            errors.appendChild(error);
            console.log("WebSocket error:", error);
        };
    </script>
</body>
</html>
{{ end }}